// ---------------------------------------------------------------------------
// Contains styles for base layout
// ---------------------------------------------------------------------------

body {
    @extend %no-whitespace;
}

.view {
    position: relative;
    min-height: $content-height;
    background-color: $color-background;
}
