// ---------------------------------------------------------------------------
// Contains all site-wide SCSS mixins
// ---------------------------------------------------------------------------

// Same height and width mixin
@mixin size($size) {
    height: $size;
    width: $size;
}

// Transition mixin
@mixin transition($args...) {
    transition: $args;
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
}